@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  display: none;
}

.transaction-btn {
  @apply bg-white w-1/6 h-1/2 rounded-md flex  items-center justify-center  text-2xl;
}

.transaction-boxes {
  @apply flex flex-col pb-5 p-5 md:px-2 items-start space-y-2 rounded-xl mx-auto min-w-full;
}

.inputs {
  @apply rounded-lg  focus:outline-none w-full text-center;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.6);
}

.height {
  height: 550px;
}

/* summary divs */
.summary {
  @apply flex flex-row h-16 px-2 items-center justify-between md:px-10 bg-blue-50 border-b-2;
}

.summary-subcontainer {
  @apply flex flex-row font-semibold text-xs space-x-5;
}

.summary-desc-withdrawal {
  @apply px-2 rounded-full text-white bg-red-500 uppercase;
}
.summary-desc-deposit {
  @apply px-2 rounded-full text-white bg-green-500 uppercase;
}

.signin-signup-inputs {
  @apply border border-gray-300 p-2 rounded-md focus:outline-none font-normal placeholder:font-light;
}
